body {
    background: grey;
    margin: 0; 
}
div {
    box-sizing: border-box;
}
header {
    background: white;
    padding: 10px;
}
header h1 {
    margin: 0; 
}
div.post {
    margin-top: 10px;
}
div.post .post-title {
    background: white;
    justify-content: space-between;
    display: flex;
    padding: 10px;
}
div.post .post-image img {
    width: 100%;
}
div.post .post-description {
    background: white;
    padding: 10px;   
}
div.post h2, div.post p {
    margin: 0;
}
div.container {
    width: 600px;
    margin: auto;
}